

/* ----------------------------page inscription --------------------------------------------*/
nav{
  background-color: blue;
}

li{
  list-style-type: none;
  padding: 15px;
}

a{
  text-decoration: white;
  color: white;
  flex-wrap: nowrap;
}
body {
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 38, 255));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }


.row1 {
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;

}

/*ici les boutons*/
.logo{
  width: 50px;
  height: 50px;
}
.btn-main-bg-text-light{
  background-color: rgb(39, 67, 158);
  color: rgba(240, 236, 236, 0.89);
  border-radius: 2%;
  font-family : Helvetica, sans-serif;
}
.d-grid .btn-main-bg-text-light{
  background-color: rgb(39, 67, 158);
  color: rgba(194, 186, 186, 0.719);
  border-radius: 2%;
  font-family : Helvetica, sans-serif;
  display: flex;
}

input {
  border-radius: 5rem;
  font-size: small;
  margin-top: 15px;
  background-color: #d7d7dfa1;
  line-height: 30px;
  border:#0d6efd;
  color: white;
}

.btn-inscription-connexion {
  background-color: blue;
  color: white;
  font-size: 25px;
  text-align: center;
  font-size: smol;
  border-radius: 5rem;
}

/*ici les titre */
.form-label {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 100px;
}

.mb-4 {
  margin-top: 100px;
  text-align: center;
}



