* {
	box-sizing: border-box;
	&:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  		all: unset;
  		display: revert;
	}
	
	&,
	&::before,
	&::after {box-sizing: border-box;}
}

ol, ul {list-style: none;}
img {max-width: 100%;}

html {
	font-size: 16px;
}

body {
	padding: 3rem;
}

article {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}



#slides {	
	.slide {
		//border: 1px solid black;
		color: #fff;
		//padding: 1.5rem;
		font-size: 3rem;
		
		text-align: center;
		
		&::after {
			background-image: linear-gradient(to right, #f46453, #2abff4);
			content: attr(data-content);
			display: block;
			padding: 4rem;
		}
		
		&[data-content="3"]::after {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}
	}
}

.zoetrope {
	position: relative;
	
	.zoetrope-track-wrapper {
		cursor: grab;
		overflow: hidden;
		position: relative;
		transition: height .1s;
	}
	
	&.isDragging .zoetrope-track-wrapper {
		cursor: grabbing;
	}
	
	.zoetrope-track {
		align-items: flex-start;
		display: flex;
		left: 0;
		position: absolute;
		right: auto;
		top: 0;
		width: auto;
	
		& > * {
			flex: 0 0 0;
			min-width: calc(var(--slide-width) * 1px * (1 / var(--slides-to-show)));
		}
	}
	
	&.isDragging .zoetrope-track {
		pointer-events: none;
	}
	
	.zoetrope-dots {
		bottom: 1rem;
		display: flex;
		font-size: 0;
		left: 50%;
		justify-content: center;
		position: absolute;
		transform: translateX(-50%);

		button {
			background: #666;
			border-radius: 50%;
			cursor: pointer;
			height: .75rem;
			width: .75rem;
			
			&:not(:last-child) {
				margin-right: .5rem;
			}
			
			&.active {
				background: #222;
			}
		}
	}
	
	.slide {
		cursor: grab;	
	}
	
	&.isDragging {
		.slide {
			cursor: grabbing;
		}
	}
	
	&.fade {
		.slide {
			left: 100%;
			opacity: 0;
			position: absolute;
		}
	}
	
	.zoetrope-button {
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		font-size: 0;
    height: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.875rem;
	}
	
	.zoetrope-button-prev {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath fill='%23222' d='M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z'%3E%3C/path%3E%3C/svg%3E");
		left: 1rem;
	}
	
	.zoetrope-button-next {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath fill='%23222' d='M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z'%3E%3C/path%3E%3C/svg%3E");
		right: 1rem;
	}
}