/*-----hoteldescription--------*/
body {
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 38, 255));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.mozaique-container{
    width: 100%;
    height: 400px;
    background: violet;
    display: flex;
    flex-direction: row;
}

