.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "a b c"
      "d e f"
      "g h i"; 
  }
  .a {background-color: aqua;
      grid-area: a; }
  .b {background-color: blanchedalmond;
      grid-area: b; }
  .c {background-color: cadetblue;
      grid-area: c; }
  .d {background-color: chartreuse; grid-area: d; }
  .e {background-color: chocolate; grid-area: e; }
  .f {background-color: darkblue; grid-area: f; }
  .g {background-color: darkmagenta; grid-area: g; }
  .h {background-color: darkorange; grid-area: h; }
  .i {background-color: darkslateblue; grid-area: i; }
  

body {
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 38, 255));
    background-repeat: no-repeat;
    }



/*---------NAV-------------*/

nav {
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style:none;
    justify-content: space-between;
    display: flex;
}

li a{
    color: white;
    list-style:none;
    justify-content: space-between;
}

/*------------------------------*/


.b{
    align-items: center;
}

.e {
    align-items: center;
}



/*----------recherche utilisateur-------------------*/


.b 
