body {
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 38, 255));
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;;
    justify-content: center;
    display: flex;
    
}