.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    
    "a a a"
    "b c d"
    "e f d"
    "g g g";
}

.a { 
    background-color: aquamarine;
    grid-area: a; 
    border-radius: 10px;
    text-align: center;}

.b { 
    background-color:blueviolet;
    grid-area: b; }

.c { 
    background-color:brown;
    grid-area: c; }

.d {
    background-color:chocolate; 
    grid-area: d; }

.e { 
    background-color:darkkhaki;
    grid-area: e; }

.f {
    background-color:dimgray
    ;
    grid-area: f; 
}

.g {
        background-color:blue;
        grid-area: g; 
}


      /* For presentation only, no need to copy the code below */
      
      .container * {
        border: 1px solid red;
        position: relative;
      }
      
      .container *:after {
        content:attr(class);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
      }
 @media screen and (max-width: 400px) {
    

    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        
        "a a a"
        "b d c"
        "e d f"
        "g g g";}
