.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    
    "a a a"
    "b c d"
    "e f d"
    "g g g";
}

.a { 
    background-color: aquamarine;
    grid-area: a;
    border-color: bisque; 
    border-radius: 10px;
    text-align: center;
    margin :30px;
    padding:30px;
}

.b { 
    background-color:blueviolet;
    grid-area: b;
    border-color: bisque; 
    border-radius: 10px;
    text-align: center;
    margin :30px;
    padding:30px;
    text-align: center; }

.c { 
    background-color:brown;
    grid-area: c;  
    border-radius: 10px;
    text-align: center;
    margin :30px;
    padding:30px;
    text-align: center; }

.d {
    
    background-color:chocolate; 
    grid-area: d; 
    border-radius: 10px;
    text-align: center;
    margin:30px;
    padding: 30px;
}
.e { 
    background-color:darkkhaki;
    grid-area: e; 
    border-radius: 10px;
    text-align: center;
    margin :30px;
    padding:30px;
    text-align: center; }



.f {
    background-color:dimgray;
    grid-area: f; 
    border-radius: 10px;
    text-align: center;
    margin :30px;
    padding:30px;
    text-align: center; }



.g {
        background-color:cadetblue;
        grid-area: g; 
        border-radius: 10px;
        text-align: center;
        margin :30px;
        padding:30px;
        text-align: center; 
    
    }


      /* For presentation only, no need to copy the code below */
.container * {
        border: 2px solid bisque;
        position: relative;
}

 @media screen and (max-width: 400px) {
    

    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        
        "a a "
        "b b "
        "c c "
        "d d "
        "e e "
        "f f "
        "g g";}
        


        .d {
    
            background-color:antiquewhite; 
            grid-area: d; 
            border-radius: 10px;
            text-align: center;
            margin:30px 30px 30px 5px;
            padding: 30px;
    }